* {
    font-family: "Playfair Display", serif;
}

/* h2 태그의 색상을 slateblue */

h2 {
    color: slateblue;
}

/* class 이름이 class-selector인 곳에 폰트 사이즈를 30픽셀로 변경 */
.class-selector {
    font-size: 30px; 
    border: 2px dashed firebrick;
    /* fz30 */
}

/* class 이름이 id-selector인 태그에 스타일 적용 */

#id-selector {
     /* 폰트 사이즈를 40픽셀로 변경 */
     font-size: 40px;
     /* 폰트의 서체 스타일(style)을 기울임(italic)꼴로 변경 */
     font-style: italic;
     /* 폰트 색상(color)을 forestgreen으로 변경 */
    color: forestgreen;

}
